<!doctype html>
<html>
  <%= partial 'layouts/head' %>

  <body class="<%= page_classes %>">
    <%= partial 'layouts/header' %>
    <div class="position-title" id="header">
      <div class="container">
        <h1><%= current_article.title %></h1>
      </div>
    </div>
    <div class="positions">
      <div class="container">
        <%= yield %>
      </div>
    </div>
    <%= partial 'layouts/footer' %>
  </body>
</html>
