---
title: Vagas
---
<div class="about-us">
  <div class="container">
    <h1><%= position.title %></h1>
  </div>
</div>
<div class="positions">
  <div class="container">
    <h2>Descrição</h2>
    <p><%= position.description %></p>
    <h2>Responsabilidades</h2>
    <ul>
      <% position.responsibilities.each do |responsibility| %>
      <li><%= responsibility %></li>
      <% end %>
    </ul>
    <h2>Requisitos</h2>
    <ul>
      <% position.requirements.each do |requirement| %>
      <li><%= requirement %></li>
      <% end %>
    </ul>

    <h2>Como se candidatar</h2>
    Envie um e-mail para <strong><%= position_email(position) %></strong> com o assunto <strong><%= position_subject(position) %></strong> com as seguintes informações:
    <ul>
      <li>Apresentação</li>
      <li>Currículo ou LinkedIn</li>
      <li>Usuário Github</li>
      <li>Pretensão Salarial</li>
    </ul>
  </div>
</div>
